<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Processing...</title>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>

    <body>
        <div class="body"></div>
        <div class="container">
            <div class="info">
                <p id="before_process">Thank you! We got your email. Please wait while we're processing them.</p>
            </div>
        </div>
        <script>
//            require("../runpy.js")
            require("../assets/js/process.js")
        </script>
    </body>

</html>





